<div class="row">
  <div class="col-md-offset-3 col-md-6 text-center">
    <div class="page-header">
      <h1>Twitter Filter</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-3 col-md-6 text-center">
    <%= link_to "Filter Locaweb's mentions on twitter", search_filters_path, class: 'btn btn-primary' %>
  </div>
</div>
